
 .games{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.events-title{ 
    border: 1px solid;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 0px;
}
.logo{ 
    height: 130px;
    width: 130px;
    display: inline-block;
    margin: 0px;
}

 p{ 
    margin-left: 10px;
    margin-bottom: 10px;
    text-indent: 20px;
}
.p-contact{
    display: inline-block;
    text-indent: 0px;
}

table {
    border-collapse: collapse;
    width: 85%;
}

 tr:nth-child(even) {
    background-color: #f7ef81;
  } 
  tr {
    border-bottom: 1px solid rgb(158, 158, 158);
  }
  tr:hover {
    background-color: #D6EEEE;
}

  footer{
    background-color: #D6EEEE;
    height: 4vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: small;
}
