
 .games{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{ 
    height: 130px;
    width: 130px;
    display: inline-block;
    margin: 0px;
}


.p-contact{
    display: inline-block;
    text-indent: 0px;
}

table {
    border-collapse: collapse;
    width: 85%;
    text-align: center;
}

 tr:nth-child(even) {
    background-color: #fffde1;
  } 
  tr {
    border-bottom: 1px solid rgb(158, 158, 158);
  }
  tr:hover {
    background-color: #D6EEEE;
}



