.form-title{
        font-family: "Comic Sans MS", "Comic Sans", cursive;
        font-size: 2rem;
        color: black;
}
fieldset{
    margin: 0px 0px;
    padding: 5px;
    display: flex; justify-content: flex-start; align-items: center; 
    border: none;
}
section{
    margin: 20px 0px;
}
label{
    margin-left: 10px;
}
.section2>fieldset{
    margin: 20px 0px;
    padding: 5px;
}
