* {
    /* margin: 0px; */
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --boton-verde: rgb(67, 192, 67);
}

body {
    margin: 0px 150px;
}

header {
    height: 250px;
    overflow-y: hidden;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

h1 {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 2.5rem;
    z-index: 1;
    color: beige;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    z-index: 1;
    gap: 0.2rem;
}

nav a {
    text-decoration: none;
    color: beige;
    background-color: rgb(64, 64, 224);
    width: auto;
    padding: 10px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.412);
    border-radius: 10px;
}

header img {
    position: relative;
    top: -150px;
    width: 100%;
}

.active {
    background-color: var(--boton-verde);
    color: white;
}

a:hover {
    background-color: var(--boton-verde);
    color: white;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about,
.contact,
.rules {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 1100px;
}

.contact>p {
    margin-left: 0px;
    margin-bottom: 0px;
    text-indent: 0px;
}

.logo {
    height: 130px;
    width: 130px;
    display: inline-block;
    margin: 0px;
}

ul {
    display: inline-block;
    list-style-type: none;
    text-align: left;
}

p {
    margin-left: 10px;
    margin-bottom: 10px;
    text-indent: 20px;
}

.img-events {
    height: 150px;
    display: inline-block;
    margin: 10px 20px;
}

.events-title {
    border: 1px solid;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 0px;
}

/*------ footer ------*/
footer {
    background-color: rgb(235, 246, 255);
    min-height: 2vh;
    position: sticky;
    bottom: 0px;
    margin-top: 100px;
}

footer address {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: small;
}

/*------ rules ------*/
dt {
    font-weight: bold;
}

dd {
    text-align: justify;
    margin-bottom: 10px;
    text-indent: 2em;
}

ul {
    margin: 0px 60px;
    text-indent: 0em;
}

/*------ games ------*/

.games {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.p-contact {
    display: inline-block;
    text-indent: 0px;
}

table {
    border-collapse: collapse;
    width: 85%;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #fffde1;
}

tr {
    border-bottom: 1px solid rgb(158, 158, 158);
}

tr:hover {
    background-color: #D6EEEE;
}

@media only screen and (max-width: 870px) {
    .navbar h1{ display: none;}
}

@media only screen and (max-width: 765px) {
    /* .navbar h1{ display: none;} */

    header  {
        display: flex;
        flex-direction: column;
        height: 80px;
    }
    header > nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: rgb(240, 125, 125);
        z-index: 1;
    }


}