*{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}

:root{
    --boton-verde: rgb(67, 192, 67);
}

header{
    display: block; 
    background-color: aquamarine;
    height: 350px; width: 80%;
    overflow-y: hidden;
}

h1{
    display: inline;
    font-size: 30px;
    font-weight: bold;
    
}
header img{
    display: block;
     width: 100%; 
}

nav{
    display: inline-block;
}

nav a{
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: rgb(64, 64, 224);
    /* border: 0.5px solid black; */
    height: 30px;
    width: 150px;
    text-align: center;
padding: 10px;
box-shadow: 2px 2px rgba(0, 0, 0, 0.412);
}

.active{
    background-color: var(--boton-verde);
    color: white;
}

a:hover{
    background-color: var(--boton-verde);
    color: white;
}


/*--main--*/
section{
    /* display: inline-block; */

}
section img{
    display: inline;
    height: 150px;
}

.logo{
    height: 70px;
    display: inline-block;
    margin: 10px;
}
