*{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}

:root{
    --boton-verde: rgb(67, 192, 67);
}

header{
    display: block; 

    height: 350px; 
    overflow-y: hidden;
    margin: 50px 50px 0px 50px;
}

h1{
    display: inline;
    font-size: 40px;
    font-weight: bold;
    padding: 0px 50px 50px 50px;
}

header img{
    display: block;
     width: 100%; 
}

nav{
    display: inline-block;
    position: relative;
    top:7px;
    z-index: 1;
}

nav a{
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: rgb(64, 64, 224);
    height: 35px;
    width: auto;
     text-align: center;
padding: 10px;
box-shadow: 2px 2px rgba(0, 0, 0, 0.412);
}

.active{
    background-color: var(--boton-verde);
    color: white;
}

a:hover{
    background-color: var(--boton-verde);
    color: white;
}


/*--main--*/
main{
    margin: 0px 50px
}
section{
    /* display: inline-block; */
    /* border: solid black; */
}
section img{
    display: inline;
    height: 150px;
}

h2{
    display: block;
    border: 1px solid;
    text-align: center;
    padding: 5px;
    
}
.logo{
    height: 70px;
    display: inline-block;
    margin: 40px;
}
ul{
    display: inline-block;
    margin: 40px;
}

.img-events{
    height: 150px;
    display: inline-block;
margin: 10px 30px;
}